{% extends "layout.html" %}
{% block body %}

<!-- Page Header -->
  <header class="masthead" style="background-image: url(' {{ url_for('static',filename = 'img/about-bg.jpg') }}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <h3>About CS-SANSAR :</h3>
      <div class="col-lg-8 col-md-10 mx-auto" style="padding-top: -60px;padding-left: 30px">
        <p>{{params['about_text']}}</p>
      </div>
    </div>
  </div>
   <div class="container">
    <div class="row">
      <h3>About the Developer :</h3>
      <div class="col-lg-8 col-md-10 mx-auto" style="padding-top: -60px;padding-left: 30px">
        <p>{{params['about_dev_text']}}</p>
      </div>
    </div>
  </div>
  
  

   
  
 {% endblock %} 

 